*
!LICENSE*
!copyright*
!/**/
!*.*
*~
__pycache__
out_n*
*.fasta
*.svg
*.pkl
*.graphml
csv_out/
*_dist/
*_out/
*.csv
*.tar.*
*.cyjs
*.dot
*.xlsx
.ipynb_checkpoints/
.dir-locals.el
#*#
*.zip
*_images*/
*out*/
*.ipynb